appdirs==1.4.4
asgiref==3.6.0
basemap-data==1.3.2
beautifulsoup4==4.11.1
Bootstrap-Flask==2.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.6
Django==4.2.1
django-session-timeout==0.1.0
dnspython==2.3.0
dominate==2.7.0
email-validator==1.3.1
et-xmlfile==1.1.0
filelock==3.9.0

fonttools==4.47.2
GDAL @ file:///C:/Users/andri/OneDrive/Documents/Django%20Project/restaurant_project/foodonline_main/GDAL-3.8.2-cp310-cp310-win_amd64.whl#sha256=b1f27bf8724c8f8e3ae92ff56088c1d994049b04a9151aaf52ab6064fc67987a
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.8.2
numpy==1.22.3
openpyxl==3.1.2
packaging==22.0

Pillow==10.1.0
platformdirs==2.6.2
psycopg2==2.9.9
PyJWT==2.6.0
pyparsing==3.1.1
pyperclip==1.8.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.21.0
pytz==2022.2.1
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.7
sqlparse==0.4.4
tqdm==4.64.1
twilio==7.15.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.12
virtualenv==20.17.1
visitor==0.1.3
webdriver-manager==3.8.5
webdrivermanager==0.10.0
Werkzeug==2.2.2

